<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.part.dao.BannerDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.part.entity.Banner">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="img" property="img" />
		<result column="content" property="content" />
		<result column="rank" property="rank" />
		<result column="publish_time" property="publishTime" />
		<result column="is_del" property="isDel" />
		<result column="parkinglot_id" property="parkinglotId" />
		<result column="url" property="url" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, img, content, rank, publish_time, is_del, parkinglot_id, url
    </sql>

</mapper>
