<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.part.dao.CouponDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.part.entity.Coupon">
		<id column="id" property="id" />
		<result column="full_price" property="fullPrice" />
		<result column="discount" property="discount" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="num" property="num" />
		<result column="is_del" property="isDel" />
		<result column="publish_time" property="publishTime" />
		<result column="integral" property="integral" />
		<result column="coupon_name" property="couponName" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, full_price, discount, start_time, end_time, num, is_del, publish_time, integral, coupon_name
    </sql>

</mapper>
