<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.part.dao.NoticeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.part.entity.Notice">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="can_use" property="canUse" />
		<result column="publish_time" property="publishTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, can_use, publish_time
    </sql>

</mapper>
