<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.part.dao.PartingsetDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.part.entity.Partingset">
		<result column="id" property="id" />
		<result column="cc_id" property="ccId" />
		<result column="state" property="state" />
		<result column="is_del" property="isDel" />
		<result column="img" property="img" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cc_id, state, is_del, img
    </sql>

</mapper>
